:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "Integral CF Extra";
  src: url("../public/fonts/IntegralCF-ExtraBold.eot");
  src: local("Integral CF Extra Bold"), local("IntegralCF-ExtraBold"),
    url("../public/fonts/IntegralCF-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/IntegralCF-ExtraBold.woff2") format("woff2"),
    url("../public/fonts/IntegralCF-ExtraBold.woff") format("woff"),
    url("../public/fonts/IntegralCF-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF Heavy Oblique";
  src: url("../public/fonts/IntegralCF-HeavyOblique.eot");
  src: local("Integral CF Heavy Oblique"), local("IntegralCF-HeavyOblique"),
    url("../public/fonts/IntegralCF-HeavyOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/IntegralCF-HeavyOblique.woff2") format("woff2"),
    url("../public/fonts/IntegralCF-HeavyOblique.woff") format("woff"),
    url("../public/fonts/IntegralCF-HeavyOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Integral CF";
  src: url("../public/fonts/IntegralCF-Bold.eot");
  src: local("Integral CF Bold"), local("IntegralCF-Bold"),
    url("../public/fonts/IntegralCF-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/IntegralCF-Bold.woff2") format("woff2"),
    url("../public/fonts/IntegralCF-Bold.woff") format("woff"),
    url("../public/fonts/IntegralCF-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("../public/fonts/IntegralCF-Regular.eot");
  src: local("Integral CF"), local("IntegralCF-Regular"),
    url("../public/fonts/IntegralCF-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/IntegralCF-Regular.woff2") format("woff2"),
    url("../public/fonts/IntegralCF-Regular.woff") format("woff"),
    url("../public/fonts/IntegralCF-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF Oblique";
  src: url("../public/fonts/IntegralCF-RegularOblique.eot");
  src: local("Integral CF Oblique"), local("IntegralCF-RegularOblique"),
    url("../public/fonts/IntegralCF-RegularOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/IntegralCF-RegularOblique.woff2") format("woff2"),
    url("../public/fonts/IntegralCF-RegularOblique.woff") format("woff"),
    url("../public/fonts/IntegralCF-RegularOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Integral CF Medium Oblique";
  src: url("../public/fonts/IntegralCF-MediumOblique.eot");
  src: local("Integral CF Medium Oblique"), local("IntegralCF-MediumOblique"),
    url("../public/fonts/IntegralCF-MediumOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/IntegralCF-MediumOblique.woff2") format("woff2"),
    url("../public/fonts/IntegralCF-MediumOblique.woff") format("woff"),
    url("../public/fonts/IntegralCF-MediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Integral CF";
  src: url("../public/fonts/IntegralCF-Medium.eot");
  src: local("Integral CF Medium"), local("IntegralCF-Medium"),
    url("../public/fonts/IntegralCF-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/IntegralCF-Medium.woff2") format("woff2"),
    url("../public/fonts/IntegralCF-Medium.woff") format("woff"),
    url("../public/fonts/IntegralCF-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF Bold Oblique";
  src: url("../public/fonts/IntegralCF-BoldOblique.eot");
  src: local("Integral CF Bold Oblique"), local("IntegralCF-BoldOblique"),
    url("../public/fonts/IntegralCF-BoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/IntegralCF-BoldOblique.woff2") format("woff2"),
    url("../public/fonts/IntegralCF-BoldOblique.woff") format("woff"),
    url("../public/fonts/IntegralCF-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Integral CF Demi Bold Oblique";
  src: url("../public/fonts/IntegralCF-DemiBoldOblique.eot");
  src: local("Integral CF Demi Bold Oblique"),
    local("IntegralCF-DemiBoldOblique"),
    url("../public/fonts/IntegralCF-DemiBoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/IntegralCF-DemiBoldOblique.woff2") format("woff2"),
    url("../public/fonts/IntegralCF-DemiBoldOblique.woff") format("woff"),
    url("../public/fonts/IntegralCF-DemiBoldOblique.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Integral CF Demi";
  src: url("../public/fonts/IntegralCF-DemiBold.eot");
  src: local("Integral CF Demi Bold"), local("IntegralCF-DemiBold"),
    url("../public/fonts/IntegralCF-DemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/IntegralCF-DemiBold.woff2") format("woff2"),
    url("../public/fonts/IntegralCF-DemiBold.woff") format("woff"),
    url("../public/fonts/IntegralCF-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("../public/fonts/IntegralCF-Heavy.eot");
  src: local("Integral CF Heavy"), local("IntegralCF-Heavy"),
    url("../public/fonts/IntegralCF-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/IntegralCF-Heavy.woff2") format("woff2"),
    url("../public/fonts/IntegralCF-Heavy.woff") format("woff"),
    url("../public/fonts/IntegralCF-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF Extra Bold Oblique";
  src: url("../public/fonts/IntegralCF-ExtraBoldOblique.eot");
  src: local("Integral CF Extra Bold Oblique"),
    local("IntegralCF-ExtraBoldOblique"),
    url("../public/fonts/IntegralCF-ExtraBoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/IntegralCF-ExtraBoldOblique.woff2") format("woff2"),
    url("../public/fonts/IntegralCF-ExtraBoldOblique.woff") format("woff"),
    url("../public/fonts/IntegralCF-ExtraBoldOblique.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
