.nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  fill: #000000;
  border-top: 1px solid #585858;
  padding: 12px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.navLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  font-size: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0a0a0a;
}

.steps {
  display: flex;
  gap: 4px;
}

.progressBar {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: full;
}

.progressItem {
  padding-top: 8px;
  background-color: #aaaaaa;
  width: 78px;
  border-radius: 4px;
}

.activeStep {
  background-color: #64c883;
}

.slideHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-transform: uppercase;
  text-align: center;
}

.slideHeader h1 {
  font-size: 28px;
  font-family: "Integral CF Demi";
}
.slideHeader h4 {
  font-size: 18px;
  /* color: #64c883; */
  font-weight: 700;
}
.slideHeader p {
  font-size: 15px;
  /* font-weight: 700; */
  /* font-family: Integral CF Demi; */
}

.mainContainer {
  height: calc(100vh - 72px);
  padding-block: 10px;
}

.swiperContainer {
  height: 100%;
}

.swipeCard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding-inline: 16px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.swipeBody {
  font-size: 12px;
  color: #aaaaaa;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.primerSlide {
  margin-left: -16px;
  margin-top: 16px;
  width: max-content;
  height: max-content;
}
.segundoSlide {
  margin-left: -16px;
  margin-top: -16px;
  width: max-content;
  height: max-content;
}

.tercerSlide {
  margin-left: -16px;
  margin-top: 40px;
  width: 110%;
  height: 65%;
}
.cuartoSlide {
  /* margin-left: -16px; */
  margin-top: 44px;

  width: 100%;
  height: 80%;
}

.continueBtn {
  position: absolute;
  bottom: 28px;
  width: 90vw;
}

.btnSecondary {
  bottom: 40px;
  width: 100%;
  border: 2px solid #64c883;
  /* width: 100%; */
  border-radius: 8px;
  padding-block: 16px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 800;
  color: #64c883;
  line-height: 24px;
}

.goldenText {
  color: #c9a555;
}

.greenText {
  color: #64c883;
}

.successContainer {
  width: 100%;
  height: 100vh;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.successMsg {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  text-align: center;
  padding-inline: 12px;
}

.successTitle {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.successTitle h1 {
  font-family: "Integral CF";
  text-transform: uppercase;
  color: #64c883;
}

.successTitle h4 {
  font-size: 18px;
  color: #f3f3f4;
  font-weight: bold;
}
